@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
  width: 100%;
  height: 10vh;
  display: flex;
  font-family: Inter, sans-serif;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgb(130, 130, 130) 0px 10px 10px -12px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  cursor: pointer;
  border: transparent 5px;
  padding: 7px;
  border-radius: 3px;
}

.filter-button:hover {
  cursor: pointer;
  color: #f5f5f5;
  background-color: #2e245e;
}

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
}

.main-cards {
  min-height: 50vh;
  width: 75%;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.products {
  height: auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: #f5f5f5 solid 4px;
  border-radius: 10px;
}

.products:hover {
  border: 4px #2E245E solid;
  transition: .2s linear;
}

.image {
  background-color: #f5f5f5;
  z-index: -1;
}

.price {
  color: #37268C;
  font-weight: 800;
}

.to-cart {
  width: max-content;
  cursor: pointer;
}

.to-cart:hover {
  text-decoration: underline;
  color: #2E245E;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content span,
.content h3,
.content button {
  padding: 5px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}

.specification {
  width: max-content;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #2E245E;
  color: #f5f5f5;
}

.content button {
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: #fff;
  border: 0;
  border-bottom-left-radius: 10px;
}

.main-details {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 25%;
}

.main-search {
  display: flex;
  flex-direction: row;
  height: 200px;
  gap: 7px;
  font-family: Inter, sans-serif;
}

.search-input {
  height: 75px;
  width: 200px;
  background-color: #f5f5f5;
  padding-left: 10px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Inter, sans-serif;
  border: 0;
}

.search-button {
  height: 77px;
  width: 80px;
  border: 0;
  background-color: #2e245e;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.main-details aside {
  width: 300px;
  height: 730px;
}

.cart-title {
  background-color: #37268c;
  color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title h4 {
  font-size: 1.2rem;
}

.cart-empty {
  height: 450px;
  width: 300px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-empty h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-products {
  max-height: 480px;
  overflow-y: auto;
  display: block;
}

/* .cart-details {
  display: hide;
} */

.content-product {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  background-color: #f5f5f5;
}

.product-img-in-cart {
  height: 110px;
  width: 110px;
}

.product-info-in-cart {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

.product-info-in-cart h3 {
  font-size: 17px;
  font-weight: bold;
}

.product-info-in-cart span {
  font-size: 15px;
  font-weight: bold;
  color: #37268C;
}

.product-info-in-cart span,
.product-info-in-cart h3,
.remove {
  padding-left: 5px;
}

.product-info-in-cart button {
  cursor: pointer;
  font-size: 13px;
  padding-left: 5px;
  border: 0;
  font-family: Inter, sans-serif;
  background-color: #f5f5f5;
}

.product-info-in-cart button:hover {
  text-decoration: underline;
}

.cart-details {
  height: 200px;
  width: 300px;
  background-color: #333333;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details-values {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}